@mixin login-button {
  background-color: $darkNavy;
  width: 20rem;
  height: 2.5rem;
  border-radius: 5px;
  border: none;
  color: white;
  transition: all 0.3s ease-in-out;
  margin-bottom: 0.5rem;

  &:hover {
    opacity: 0.7;

  }
}

@mixin login-input {
  input {
    border-radius: 5px;
    border: none;
    width: 20rem;
    height: 2.5rem;
    padding-left: 1rem;
    background-color:$darkNavy;
    color: white;

    &::placeholder {
      color: white;
    }

    &:last-of-type {
      margin-bottom: 1rem;
    }
  }
}

@mixin add-person-button{
  background-color: $darkNavy;
  color: white;
  transition: all 0.3s ease-in-out;
  border: none;
  border-radius: 5px;
  transform: scale(0.8);

  &:hover {
    opacity: 0.7;
  }
}

@mixin person-container{
  h4 {

    button{
      @include add-person-button;
      
      &.disabled {
        cursor: not-allowed !important;
        color: $lightBlue;
        opacity: 0.6;
      }
    }
  }

  p {
    color:black
  }
}