@import "../wwwroot/css/variables";



h3 {

}

p {

}

.charts-container {
  max-width: 75vw;
overflow-y: hidden;
  .stats-container {
    display: flex;
    flex-direction: row;
    background-color: $lightBlue;
    opacity: 0.7;
    border-radius: 10px;
    padding: 1.5rem 3rem;
    justify-content: space-between;
    width: 100%;

    &__stats {
      p {
        opacity: 1;
      }

      p:nth-child(3) {
        font-size: 2rem;
        font-weight: bold;
      }
    }
  }

  
    .chart-stat-container {
      display: flex;
      flex-direction: row;
      background-color: $lightRed;
      opacity: 0.7;
      padding: 1rem 2rem;
      border-radius: 10px;
      width: 100%;

      div {
        p {
          opacity: 1;
          color: white;

          &:nth-child(1) {
            font-size: 2rem;
            font-weight: bold;
          }
        }
      }

    }
  
}