@import "../wwwroot/css/variables.scss";
@import "../wwwroot/css/animations.scss";

tr {
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  td {
    border: none;
    button {
      border: none;
      transition: all 0.3s ease-in-out;

      &:hover {
        opacity: 0.7;
        background-color: red;
        color:white;
      }
    }
  }

  &:hover {
    background-color: $darkGray;
    opacity: 0.7;
    color: white;
  }
}
