
html, body {
  height:100%; 
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin:0; 
  padding: 0;
  background-color: $lightGray;
}

.bg-lightgray {
  background-color: $lightGray !important;
}

.animation-fade-in {
  animation-name: fade-in;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}