$lightGray: #EBECF5;
$midGray: #BABCC5;
$darkGray: #4f505c;
$black: #1b1a25;
$blue: #5c58AF; 
$lightBlue:#b0b5f8;
$saturatedBlue: #150bd4;
$darkBlue: #090476; 
$darkNavy: #2B2D42;
$almostBlack: #42424a;
