@import "../wwwroot/css/variables";
@import "../wwwroot/css/mixins";


.add-adult-container {
  height: 100%;
  background-color: $lightGray;
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  .form-container {
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    background-color: $darkNavy;
    color:white; 
    border-radius: 5px;
    padding:2rem; 
    
    input {
      border-radius: 5px;
      border: none; 
    }
  }
  
}