@import "../wwwroot/css/variables";
@import "../wwwroot/css/mixins";


.add-adult-container {
  height: 100%;
  background-color: $lightGray;
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  .form-container {
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    color:black; 
    border-radius: 5px;
    padding:2rem; 
    
    input {
      border-radius: 5px;
      border: none; 
      padding-left: 0.5rem;
    }
    
    button {
      background-color: $darkNavy;
      width: 6rem;
      height: 2.5rem;
      border-radius: 5px;
      border: none;
      color: white;
      transition: all 0.3s ease-in-out;
      margin-bottom: 0.5rem;
      font-size: medium;

      &:hover {
        opacity: 0.7;

      }
      
    }
  }
  
}