@page "/AddAdult/{StreetName}/{HouseNumber:int}"
@using DNPAssignment1FamilyManagementSystem.Data
@using Models
@inject IFamilyService FamilyService
@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        <div class="add-adult-container animation-fade-in">
            <div class="form-container container">
                <h3>Add Adult to Family: @StreetName @HouseNumber</h3>
                <div class="row text-center">
                    <div class="col-12">
                        <img src="images/Asset 340.svg" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label >First Name</label>
                            <input type="text" placeholder="First name" @bind-value="_newAdult.FirstName" class="form-control">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label >Last Name</label>
                            <input type="text" placeholder="Last name" @bind-value="_newAdult.LastName" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label >Age</label>
                            <input type="number" placeholder="Age" @bind-value="_newAdult.Age" class="form-control">
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col">

                        <div class="form-group">
                            <label >Weight</label>
                            <input type="number" placeholder="Weight" @bind-value="_newAdult.Weight" class="form-control">
                        </div>
                    </div>

                    <div class="col">

                        <div class="form-group">
                            <label >Height</label>
                            <input type="number" placeholder="Height" @bind-value="_newAdult.Height" class="form-control">
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label for="sex">Sex</label>
                    <select name="sex" id="sex" @onchange="e => _selectedSex = e.Value.ToString()" class="form-control">
                        <option value="M">M</option>
                        <option value="F">F</option>
                    </select>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label >Eye Color</label>
                            <input type="text" placeholder="Eye color" @bind-value="_newAdult.EyeColor" class="form-control">
                        </div>
                    </div>

                    <div class="col">

                        <div class="form-group">
                            <label >Hair Color</label>
                            <input type="text" placeholder="Hair Color" @bind-value="_newAdult.HairColor" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label >Job Title</label>
                            <input type="text" placeholder="Job Title" @bind-value="_newAdult.JobTitle.JobTitle" class="form-control">
                        </div>

                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label >Salary</label>
                            <input type="number" placeholder="Salary" @bind-value="_newAdult.JobTitle.Salary" class="form-control">
                        </div>

                    </div>
                </div>


                <button @onclick="AddAdultToFamily">Add Adult</button>
            </div>
        </div>

    </Authorized>
</AuthorizeView>

@code {

    [Parameter]
    public string StreetName { get; set; }

    [Parameter]
    public int HouseNumber { get; set; }

    private Adult _newAdult = new Adult() {JobTitle = new Job()};

    private string _selectedSex;


    [CascadingParameter]
    protected Task<AuthenticationState> AuthStat { get; set; }

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        var user = (await AuthStat).User;
        if (!user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/Login");
        }
    }

    private void AddAdultToFamily()
    {
        Family familyOfAdult = FamilyService.GetFamily(StreetName, HouseNumber);
        _newAdult.Sex = _selectedSex;
        FamilyService.AddAdultToFamily(familyOfAdult, _newAdult);
        NavigationManager.NavigateTo("/Families");
    }

}