@import "../wwwroot/css/_variables.scss";

tr {
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  td {
    border: none
  }

  &:hover {
    background-color: $darkGray;
    opacity: 0.7;
    color: white;
  }
}