@page "/"
@inject NavigationManager NavigationManager

<div class="index-container">
    <img src="images/Asset 20.svg" alt="">
    <h1>Welcome @_username</h1>
    <p>Start managing families by using the side navigation bar</p>
    <i class="fas fa-arrow-left"></i>
</div>


@code{

    [CascadingParameter]
    protected Task<AuthenticationState> AuthStat { get; set; }

    string _username;

    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();
        var user = (await AuthStat).User;
        if (!user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/Login");
        }
        else
        {
            _username = user.Identity.Name;
        }
    }

}