@import "../wwwroot/css/variables";
@import "../wwwroot/css/mixins";

.login-container {
  display: flex;
  flex-direction: row;
  margin: 0 !important;
  padding:0 !important;
  .left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
    background-color:  $darkNavy;
    img {
      max-width: 400px;
      max-height: 350px;
      margin-bottom: 2rem;
    }
    h4 {
      font-weight: bold;
      color:white;
      
    }
    p {
      color:white;
    }
    
  }

  .right-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    background-color: $lightGray;

    
    h3 {
      font-weight: bold;
      margin-bottom: 1.5rem;

    }


    label {
      font-weight: 600;
      display: block;
    }

    @include login-input;

    button {
     @include login-button; 
    }
    p.create-acc-p {
      span {
        cursor: pointer;
        color: #292D85;
        transition: all 0.2s ease-in-out;
        
        &:hover {
          font-weight: bold;
        }
      }
    }
    
    #error-label{
      color:red; 
    }
  }
}
