@import "../wwwroot/css/variables"; 
.navbar-toggler {
  background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
  height: 3.5rem;
  background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
  font-size: 1.1rem;
}

.bg-light-gray{
  background-color: $lightGray !important;
}

.color-black{
  color: black !important;
}


.oi {
  width: 2rem;
  font-size: 1.1rem;
  vertical-align: text-top;
  top: -2px;
}

li:first-of-type {
  margin-top: 2rem;
  padding-bottom: 3rem;
 span {
   display: table;
   margin: 0 auto;
 }
}

.nav-item {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
  
  &:first-of-type{
    padding-top: 1rem;
  }
  
  &:last-of-type{
    padding-bottom: 1rem;
  }
}


.nav-item ::deep a {
  color: $black;
  border-radius: 4px;
  height: 3rem;
  display: flex;
  align-items: center;
  line-height: 3rem;
  transition: all 0.3s ease-in-out;
  
  &:hover {
    background-color: $darkGray;
    color: $lightGray; 
  }
}

.nav-item ::deep a.active {
  background-color: rgba(255,255,255,0.25);
  color: $black;
  
  
}


@media (min-width: 641px) {
  .navbar-toggler {
    display: none;
  }

  .collapse {
    /* Never collapse the sidebar for wide screens */
    display: block;
  }
}
