@inherits LayoutComponentBase

<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu/>
            </div>
        </Authorized>
    </AuthorizeView>

    <AuthorizeView>
        <Authorized>
            <div class="main">
                @* <div class="top-row px-4"> *@
                @* </div> *@

                <div class="content px-4">
                    @Body
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="main">


                <div>
                    @Body
                </div>
            </div>
        </NotAuthorized>
    </AuthorizeView>

</div>